*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: wheat;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    background-color: wheat;
    height: 60px;
}

h1{
    text-align: center;
    padding: 10px 0;
    color: rgb(167, 12, 12);
}

button{
    font-size: 13px;
    background-color: darkseagreen;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    border: 2px solid black;
    color: black;
}

#grid{
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    width: 600px ;
    margin-top: 50px;
}

.square{
    background-color: olive;
    border: 2px solid saddlebrown;
    color: black;
}

.clicked{
    background-color: rgb(0, 195, 255);

}

